<div>
    <nav class="navbar navbar-default navbar-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    Foursquare App
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat="link in links" ui-sref-active="active">
                        <a ui-sref={{ link.sref }}>{{ link.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--<div class="well container" ng-controller="MainCtrl">-->
        <!--<form>-->
            <!--<div class="form-group">-->
                <!--<input type="text" ng-model="nearBy" class="form-control" placeholder="Place">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<input type="text" ng-model="query" class="form-control" placeholder="Category">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="search()"> Search</button>-->
            <!--</div>-->
        <!--</form>-->

        <!--<places ng-model="places" ng-if="places.length"></places>-->
    <!--</div>-->
    <div class="well container" ui-view>
        Hello!
    </div>
</div>